<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="register-card">
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" autocomplete="given-name" required minlength="2" maxlength="100">
            <mat-error *ngIf="form.controls.name.invalid">{{ getNameErrorMessage() }}</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" autocomplete="family-name" required minlength="2" maxlength="100">
            <mat-error *ngIf="form.controls.surname.invalid">{{ getSurnameErrorMessage() }}</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="email" required>
            <mat-error *ngIf="form.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required minlength="6" maxlength="15">
            <mat-error *ngIf="form.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required minlength="6" maxlength="15">
            <mat-error *ngIf="form.controls.confirmPassword.invalid">{{ getConfirmPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
          <br/>

          <div fxLayout.xs="row" fxLayoutAlign="end">
            <div fxFlex="100%" fxLayoutAlign="end">
              <button mat-raised-button color="accent" [disabled]="!form.valid">Register</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>