<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="email" required>
            <mat-error *ngIf="form.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required/>
            <mat-error *ngIf="form.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
          <br/>

          <div fxLayout.xs="row" fxLayoutAlign="end">
            <div fxFlex="50%" fxLayoutAlign="start">
              <a mat-button routerLink="/register" color="accent"><span>Register</span></a>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end">
              <button mat-raised-button color="accent" [disabled]="!form.valid">Login</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>